<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="rodape">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="teste.css">
<title>Insert title here</title>

</head>
<body>
<!-- Footer -->
<footer class="page-footer font-small blue footer-dark">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/">Aprendendo Sistema MVC</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>